*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Helvetica', 'Trebuchet MS',  Arial, sans-serif;
    background: #fff url(./imagens/bg.png);
    margin: 15px;
    
}
#container{
    background: #ede9cc;
    margin: 0 auto;
    min-width: 740px;
    max-width: 1180px;
}
#topo {
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}
#logo {
    position: absolute;
	background: url(./imagens/topo-imagem-principal.png) no-repeat;
	width: 100%;
	height: 250px;
	top: 0;
	left: 0;
	z-index: 1;
    
}
#menu {
    position: absolute;
	top: 0;
	right: 0;
	background: url(./imagens/topo-imagem-lateral.png) no-repeat; ;
	width: 450px;
	height: 250px;
	z-index: 2;
}
.logo a {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(./imagens/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;
}
#conteudo-menu {
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}
#conteudo-menu .cidades {
    text-decoration: none;
    float: left;
    display: block;
    padding: 5px;
    color: #8b8448;

}
 #conteudo-menu a:hover{
    background-color:#fdf6be;
    color: #b5ab56;
  
}
#menu-locais {
    border-bottom:  1px solid #b5ab56;
    border-top:  1px solid #b5ab56;
    padding-top: 5px;
    padding: 5px;
    font-size: 0.7em;
    color: #8b8448;
    line-height: 2.1em;
}
#reserva {
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
    float: right;
    text-decoration: none;
}